# Importando Biblioteca

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e6/sample_submission.csv
/kaggle/input/playground-series-s4e6/train.csv
/kaggle/input/playground-series-s4e6/test.csv

* Carregando as classes dos dados de train.csv

In [2]:
train_data = pd.read_csv(os.path.join(dirname, filenames[1]))
train_data.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

* Selecionando caracterÃ­sticas mais importantes dos dados e criando uma base de dados mais enxuta

In [3]:
forest = ExtraTreesClassifier()
previsores = train_data.iloc[:, 0:37]
classe = train_data.iloc[:, 37]
forest.fit(previsores, classe)
importancias = forest.feature_importances_
fitting_index_train_data = []
for e in range(0, len(importancias)):
    if importancias[e] > 0.04:
        fitting_index_train_data.append(e)
fitting_index_train_data.append(37)
fitting_train_data = train_data.iloc[:, fitting_index_train_data]
fitting_train_data.head()

,Tuition fees up to date,Scholarship holder,Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Target
0,1,1,6,6,14.500000,7,6,12.428571,Graduate
1,1,0,8,4,11.600000,9,0,0.000000,Dropout
2,1,0,0,0,0.000000,0,0,0.000000,Dropout
3,1,1,9,7,12.591250,11,7,12.820000,Enrolled
4,1,0,12,6,12.933333,12,6,12.933333,Graduate

* DivisÃ£o da base de dados entre treinamento e teste (30% para testar e 70% para treinar)

In [4]:
#td = train_data
td_X_treinamento, td_X_teste, td_y_treinamento, td_y_teste = train_test_split(previsores,
                                                                  classe,
                                                                  test_size = 0.3,
                                                                  random_state = 0)

*  CriaÃ§Ã£o do modelo Random Forest para os dados de treino divididos

In [5]:
floresta = RandomForestClassifier(n_estimators = 100)
floresta.fit(td_X_treinamento, td_y_treinamento)

RandomForestClassifier()

* fazer a previsÃ£o, e calcular a acurÃ¡cia dos dados de treino

In [6]:
previsoes_teste = floresta.predict(td_X_teste)
taxa_acerto = accuracy_score(td_y_teste, previsoes_teste)
taxa_acerto

0.8232706046349538

* Carregar os dados de teste

In [7]:
test_data = pd.read_csv(os.path.join(dirname, filenames[2]))
test_data.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [8]:
exemplo = pd.read_csv(os.path.join(dirname, filenames[0]))
exemplo.head()

      id    Target
0  76518  Graduate
1  76519  Graduate
2  76520  Graduate
3  76521  Graduate
4  76522  Graduate

* Treinando o modelo com todos os dados de treino

In [9]:
floresta = RandomForestClassifier(n_estimators = 100)
floresta.fit(previsores, classe)

RandomForestClassifier()

In [10]:
previsoes = floresta.predict(test_data)
dados = {'id': test_data.iloc[:, 0], 'Target': previsoes}
tabela_previsoes = pd.DataFrame(dados)
tabela_previsoes.to_csv('submission.csv', index=False)